.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid orange
}
.nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-title img{
    width: 20%;
    height: 20%;
}
.nav-title h3{
    width: 17rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}
.primary-color{
    color: rgb(232, 34, 143)
}

.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}
.nav-menu li{
    list-style: none;
    color: #3C354F;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 500;
}
.nav-menu a{
    text-decoration: none;
}
.nav-menu button{
    border: none;
    border-radius: 8px;
    padding: 15px;
    background: rgba(11, 2, 35, 0.10);
}
.fa-brands{
    margin-left: 5px;
}


/* Responsive design for different devices */
/* media query for navigation section */
@media screen and (max-width: 576px) {
    .nav-container{
        display: grid;
        margin: 0;
        padding: 15px;
    } 
    
    .nav-menu ul{
        display: grid;
    }
}